.navbar{
    min-height:70px;
}

.navbar-brand{
    font-size:1.3rem;
}

.nav-link{
    font-weight:500;
    color: #fff;
}

.nav-link:hover{
    color:#ffc107 !important;
}

.logo{
  height:60px;
  width:auto;
  background-color: #fff;
  border-radius: 50%;
  gap: 10px;
  margin-right: 7px;
}
