.senegal-map{
  height:500px;
  display:flex;
  justify-content:center;
  align-items:center;
   margin-top: -30px;
}

.senegal-map svg{
  width:50% !important;
  height:auto !important;
 
}

.senegal-map path{
  cursor:pointer;
  transition:.2s;
}

.senegal-map path:hover{
  fill:#ffc107 !important;
}

.selected-region{
  fill:#dc3545 !important;
}

.legend-dot{
  width:12px;
  height:12px;
  border-radius:50%;
  display:inline-block;
  margin-right:6px;
}

.legend-item{
  font-size:.9rem;
}

.tooltip{
  position:fixed;
  background:#212529;
  color:white;
  padding:2px 12px;
  border-radius:8px;
  font-size:.85rem;
  opacity:0;
  pointer-events:none;
  transition:.15s;
  z-index:9999;
}

.tooltip.visible{
  opacity:1;
}

@media(max-width:768px){

  .senegal-map{
    min-height:300px;
  }

}